In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
df=pd.read_excel(r"C:\Users\German\Desktop\Задание 5.0 2 версия.xlsx")

In [6]:
df

,FIO,Месяц,Профессия,Разряд,Оборудование,Вредность (балл.),Объем производства,Доход
0,Абрамов Е. Д.,2009-01-01,Уборщик,3,Пилигримовые станы,18,580,16638.000000
1,Абрамов Е. Д.,2009-02-01,Уборщик,3,Пилигримовые станы,18,790,16638.000000
2,Абрамов Е. Д.,2009-03-01,Уборщик,3,Пилигримовые станы,18,820,16638.000000
3,Абрамов Е. Д.,2009-04-01,Уборщик,3,Пилигримовые станы,18,1200,19396.411765
4,Абрамов Е. Д.,2009-05-01,Уборщик,3,Пилигримовые станы,18,1250,19790.470588
...,...,...,...,...,...,...,...,...
2395,Яковлев Д. И.,2009-08-01,Подручный вальцовщика,4,Прошивной стан,18,1180,21800.170588
2396,Яковлев Д. И.,2009-09-01,Подручный вальцовщика,4,Прошивной стан,18,1080,20885.876471
2397,Яковлев Д. И.,2009-10-01,Подручный вальцовщика,4,Прошивной стан,18,780,18783.000000
2398,Яковлев Д. И.,2009-11-01,Подручный вальцовщика,4,Прошивной стан,18,1020,20337.300000
2399,Яковлев Д. И.,2009-12-01,Подручный вальцовщика,4,Прошивной стан,18,810,18783.000000

In [7]:
sum(df['Доход'])

51997369.36764712

In [8]:
df.groupby(['FIO']).sum()

,Разряд,Вредность (балл.),Объем производства,Доход
FIO,,,,
Абрамов Е. Д.,36,216,11860,216442.905882
Абрамов Ф. М.,36,216,11860,208371.864706
Агафонов С. И.,72,216,11860,290950.941176
Аксенов Е. Н.,84,264,11860,339879.882353
Александров А. М.,36,216,11860,200300.823529
...,...,...,...,...
Шестаков Е. А.,36,216,11860,200300.823529
Щербаков А. Е.,48,96,11860,213907.261765
Щербаков А. М.,60,216,11860,256095.705882
Щукин К. С.,60,96,11860,245356.491176
Яковлев Д. И.,48,216,11860,244870.464706